package ${package_name}.controller;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${package_name}.dto.${model}.${Model}ListDTO;
import ${package_name}.dto.${model}.${Model}SaveDTO;
import ${package_name}.base.BaseController;
import ${package_name}.service.MemberService;
import ${package_name}.core.result.Result;
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;
/**
 * ${Model}Controller
 * Created by Nelson on ${ctime}.
 */
@RestController
@RequestMapping("/${model}")
public class ${Model}Controller extends BaseController {

    private static final Logger LOGGER = LoggerFactory.getLogger(${Model}Controller.class);

    @Autowired
    private ${Model}Service ${model}Service;

    @PostMapping("")
    public Result save(@RequestBody ${Model}SaveDTO dto) {
        return ${model}Service.save${Model}(dto);
    }

    @DeleteMapping("/{id}")
    public Result delete(@PathVariable Integer id) {
        return ${model}Service.delete${Model}(id);
    }

    @GetMapping("/{id}")
    public Result get(@PathVariable Integer id){
        return ${model}Service.get${Model}(id);
    }

    @GetMapping("/list")
    public Result list(@RequestBody ${Model}ListDTO dto, int pageNo, int pageSize){
        return ${model}Service.list${Model}(dto, pageNo, pageSize);
    }

    @PutMapping("/{id}")
    public Result update(@PathVariable Integer id, @RequestBody ${Model}UpdateDTO dto){
        return ${model}Service.update${Model}(id, dto);
    }
}